{% extends 'base.html.twig' %}

{% block body %}
    <h1>Symfonyform edit</h1>

    {{ form_start(edit_form) }}
    {{ form_widget(edit_form) }}
    <input type="submit" class="btn btn-info" value="Edit"/>
    {{ form_end(edit_form) }}
    <a href="{{ path('symfonyform_index') }}">
        <button type="button" class="btn btn-warning">cofnij</button>
    </a>
    {{ form_start(delete_form) }}
    <input type="submit" class="btn btn-danger" value="Delete">
    {{ form_end(delete_form) }}
{% endblock %}
