{% extends 'base.html.twig' %}

{% block body %}
    <h1>Symfonyforms list</h1>
    <div class="table-responsive">
        <table class="table table-nonfluid table-hover">
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Surname</th>
                <th>Experience</th>
                <th>City</th>
                <th>Country</th>
                <th colspan="2">Availability</th>
                <th>Profession</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for symfonyForm in symfonyForms %}
                <tr>
                    <td><a href="{{ path('symfonyform_show', { 'id': symfonyForm.id }) }}">{{ symfonyForm.id }}</a></td>
                    <td>{{ symfonyForm.name }}</td>
                    <td>{{ symfonyForm.surName }}</td>
                    <td>{{ symfonyForm.experience }}</td>
                    <td>{{ symfonyForm.city }}</td>
                    <td>{{ symfonyForm.country }}</td>
                    {% for item in symfonyForm.availability %}
                        <td>{{ item }}</td>
                    {% endfor %}
                    {% if symfonyForm.availability |length == 1 %}
                        <td></td>
                    {% endif %}
                    <td>{{ symfonyForm.profession }}</td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('symfonyform_show', { 'id': symfonyForm.id }) }}">
                                    <button class="btn btn-primary btn-xs"><span
                                                class="glyphicon glyphicon-eye-open"></span> show
                                    </button>
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('symfonyform_edit', { 'id': symfonyForm.id }) }}">
                                    <button class="btn btn-danger btn-xs"><span
                                                class="glyphicon glyphicon-pencil"></span> edit
                                    </button>
                                </a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <a href="{{ path('symfonyform_new') }}">
        <button type="button" class="btn btn-primary pull-left">Dodaj nowy wpis</button>
    </a>
{% endblock %}
