{% extends 'base.html.twig' %}

{% block body %}
    <h1>Symfonyform creation</h1>


    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input type="submit" class="btn btn-primary" value="Zapisz"/>
    {{ form_end(form) }}


            <a href="{{ path('symfonyform_index') }}">
                <button type="button" class="btn btn-warning">cofnij do listy</button>
            </a>

{% endblock %}
