{% extends 'base.html.twig' %}

{% block body %}
    <h1>Symfonyform</h1>

    <table>
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ symfonyForm.id }}</td>
        </tr>
        <tr>
            <th>Name</th>
            <td>{{ symfonyForm.name }}</td>
        </tr>
        <tr>
            <th>Surname</th>
            <td>{{ symfonyForm.surName }}</td>
        </tr>
        <tr>
            <th>Experience</th>
            <td>{{ symfonyForm.experience }}</td>
        </tr>
        <tr>
            <th>City</th>
            <td>{{ symfonyForm.city }}</td>
        </tr>
        <tr>
            <th>Country</th>
            <td>{{ symfonyForm.country }}</td>
        </tr>
        <tr>
            <th>Availability</th>
            {% for item in symfonyForm.availability %}
                <td>{{ item }}</td>
            {% endfor %}
        </tr>
        <tr>
            <th>Profession</th>
            <td>{{ symfonyForm.profession }}</td>
        </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('symfonyform_index') }}">
                <button type="button" class="btn btn-warning">cofnij do listy</button>
            </a>
        </li>
        <li>
            <a href="{{ path('symfonyform_edit', { 'id': symfonyForm.id }) }}">
                <button class="btn btn-info">edit</button>
            </a>
        </li>
        <li>
            {{ form_start(delete_form) }}
            <input type="submit" class="btn btn-danger" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
